body {
    background-color: #cccccc;
    opacity: 1;
    background-image: linear-gradient(30deg, #f4f4f4 12%, transparent 12.5%, transparent 87%, #f4f4f4 87.5%, #f4f4f4), linear-gradient(150deg, #f4f4f4 12%, transparent 12.5%, transparent 87%, #f4f4f4 87.5%, #f4f4f4), linear-gradient(30deg, #f4f4f4 12%, transparent 12.5%, transparent 87%, #f4f4f4 87.5%, #f4f4f4), linear-gradient(150deg, #f4f4f4 12%, transparent 12.5%, transparent 87%, #f4f4f4 87.5%, #f4f4f4), linear-gradient(60deg, #f4f4f477 25%, transparent 25.5%, transparent 75%, #f4f4f477 75%, #f4f4f477), linear-gradient(60deg, #f4f4f477 25%, transparent 25.5%, transparent 75%, #f4f4f477 75%, #f4f4f477);
    background-size: 66px 116px;
    background-position: 0 0, 0 0, 33px 58px, 33px 58px, 0 0, 33px 58px;
}

.card img {
    max-width: 100%;
    min-height: 150%;
}